#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h2 Migration from Play! Framework 2.2.x to 2.3.x

Check original [Play! Framework migration documentation](https://www.playframework.com/documentation/2.3.x/Migration23) first.

$h3 Maven-related changes

Just change Play! version from

```
    <properties>
        ...
        <play2.version>${play22LatestVersion}</play2.version>
    </properties>
```

to

```
    <properties>
        ...
        <play2.version>${play23LatestVersion}</play2.version>
    </properties>
```
