#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h2 Usage - general instructions

$h3 Different Play! versions support

Plugin supports following Play! Framework versions: 2.1.x, 2.2.x, 2.3.x, 2.4.x, 2.5.x and 2.6.x.

There are some configuration differences:

- [Play! Framework 2.1.x usage](./usage-play21.html)

- [Play! Framework 2.2.x usage](./usage-play22.html)

- [Play! Framework 2.3.x usage](./usage-play23.html)

- [Play! Framework 2.4.x usage](./usage-play24.html)

- [Play! Framework 2.5.x usage](./usage-play25.html)

- [Play! Framework 2.6.x usage](./usage-play26.html)

$h3 Using plugin SNAPSHOT versions

Add

```
            <pluginRepositories>
                <pluginRepository>
                    <id>sonatype-nexus-snapshots</id>
                    <name>Sonatype Nexus Snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
```

to your project or better add

```
<settings>
    ...
    <profiles>
        ...
        <profile>
            <id>sonatype-snapshots-repo</id>

            <pluginRepositories>
                <pluginRepository>
                    <id>sonatype-nexus-snapshots</id>
                    <name>Sonatype Nexus Snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        ...
    </profiles>

    <activeProfiles>
       <activeProfile>sonatype-snapshots-repo</activeProfile>
    </activeProfiles>
    ...
</settings>
```

to `~/.m2/settings.xml` file. More info: http://maven.apache.org/guides/mini/guide-multiple-repositories.html
