#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h2 About ${project.name}

Built-in providers compatible with different Play! Framework versions.

### Project Modules

This project declares the following modules:

| Name                                                                     | Description                        |
|--------------------------------------------------------------------------|------------------------------------|
| [Play! 2.x Provider for Play! 2.1.x](./play2-provider-play21/index.html) | Play! 2.x Provider for Play! 2.1.x |
| [Play! 2.x Provider for Play! 2.2.x](./play2-provider-play22/index.html) | Play! 2.x Provider for Play! 2.2.x |
| [Play! 2.x Provider for Play! 2.3.x](./play2-provider-play23/index.html) | Play! 2.x Provider for Play! 2.3.x |
| [Play! 2.x Provider for Play! 2.4.x](./play2-provider-play24/index.html) | Play! 2.x Provider for Play! 2.4.x |
| [Play! 2.x Provider for Play! 2.5.x](./play2-provider-play25/index.html) | Play! 2.x Provider for Play! 2.5.x |
| [Play! 2.x Provider for Play! 2.6.x](./play2-provider-play26/index.html) | Play! 2.x Provider for Play! 2.6.x |
| [Play! 2.x Provider for Play! 2.7.x](./play2-provider-play27/index.html) | Play! 2.x Provider for Play! 2.7.x |
| [Play! 2.x Provider for Play! 2.8.x](./play2-provider-play28/index.html) | Play! 2.x Provider for Play! 2.8.x |

